<div id="ProjTable">
  <table>
    <tr>
      <th><%= sortable "name" %> </th>
      <th><%= sortable "owner" %> </th>
      <th><%= sortable "location" %> </th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.owner %></td>
      <td><%= project.location %></td>
      <td>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
     <% end %>
    </tr>
  </table>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= will_paginate @projects %>
</div>   